<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<body class="container">
<h1 th:text="${title}">Default Title</h1>



<form method="post" th:object="${newEmployer}">
    <div class="form-group">
        <label th:for="organizationName">Organization Name</label>
        <input class="form-control" th:field="*{organizationName}" />
        <span class="error" th:errors="*{organizationName}"></span>
    </div>

    <div class="form-group">
        <label th:for="contactName">Contact Name</label>
        <input class="form-control" th:field = "*{contactName}" />
        <span class="error" th:errors="*{contactName}"></span>
    </div>

    <div class="form-group">
        <label th:for="website">Website</label>
        <input class="form-control" th:field = "*{website}" />
        <span class="error" th:errors="*{website}"></span>
    </div>

    <div class="form-group">
        <label th:for="ein">EIN</label>
        <input class="form-control" th:field = "*{ein}" />
        <span class="error" th:errors="*{ein}"></span>
    </div>

    <div class="form-group">
        <label th:for="phoneNumber">Phone Number</label>
        <input class="form-control" th:field = "*{phoneNumber}" />
        <span class="error" th:errors="*{phoneNumber}"></span>
    </div>

    <div class="form-group">
        <label th:for="email">E-Mail</label>
        <input class="form-control" th:field = "*{email}" />
        <span class="error" th:errors="*{email}"></span>
    </div>
    <div class="form-group">
        <label th:for="confirmEmail">Confirm E-Mail</label>
        <input class="form-control" th:field = "*{confirmEmail}" />
        <span class="error" th:errors="*{confirmEmail}"></span>
    </div>
    <div class="form-group">
        <label th:for="password">Password</label>
        <input class="form-control" th:field = "*{password}" />
        <span class="error" th:errors="*{password}"></span>
    </div>
    <div class="form-group">
        <label th:for="confirmPassword">Confirm Password</label>
        <input class="form-control" th:field = "*{confirmPassword}" />
        <span class="error" th:errors="*{confirmPassword}"></span>
    </div>

    <div class="form-group">
        <label th:for="streetNumber">Street Number</label>
        <input class="form-control" th:field = "*{streetNumber}" />
        <span class="error" th:errors="*{streetNumber}"></span>
    </div>

    <div class="form-group">
        <label th:for="streetName">Street Name</label>
        <input class="form-control" th:field = "*{streetName}" />
        <span class="error" th:errors="*{streetName}"></span>
    </div>

    <div class="form-group">
        <label th:for="city">City</label>
        <input class="form-control" th:field = "*{city}" />
        <span class="error" th:errors="*{city}"></span>
    </div>

    <div class="form-group">
        <label th:for="zipCode">Zip Code</label>
        <input class="form-control" th:field = "*{zipCode}" />
        <span class="error" th:errors="*{zipCode}"></span>
    </div>

    <div class="form-group">
        <label th:for="neighborhood">Neighborhood</label>
        <input class="form-control" th:field = "*{neighborhood}" />
        <span class="error" th:errors="*{neighborhood}"></span>
    </div>
    <input type="submit" value="Add My Company" />
</form>

</body>
</html>