<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<div th:replace="fragments :: secondnav"></div>

<p th:unless="${results}">No user could be found by that name.</p>

<p th:if="${results}">

<p th:text="${results.username}"></p>
<p th:text="${results.uid}"></p>
<p th:text="${results.access}"></p>

</p>
</body>
</html>