<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<div th:replace="fragments :: secondnav"></div>


<p th:unless="${results}">No users were found by that name.</p>

<table class="table table-bordered">

    Search results for <em><span th:text="${param.searchTerm[0]}"></span></em>....

    <p th:if="${results}">

    <th></th>
    <th>ID</th>
    <th>Username</th>
    <th>Access Level</th>

    <tr th:each="result : ${results}">
        <td><a th:href="'edit/users/' + ${result.uid}" th:text="Edit"></a></td>
        <td th:text="${result.uid}"></td>
        <td th:text="${result.username}"></td>
        <td th:text="${result.access}"></td>
    </tr>
    </p>
</table>
</body>
</html>