<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<div th:replace="fragments :: secondnav"></div>

<p th:unless="${statements} and ${statements.size()}">No statements have been added.</p>

<table class="table table-bordered">
    <p th:if="${statements} and ${statements.size()}">
    <tr>
        <th></th>
        <th>Statement</th>
    </tr>

    <tr th:each="statement : ${statements}">
        <td><a th:href="'edit/statement/' + ${statement.session}" th:text="Edit"></a></td>
        <td th:text="${statement.description}"></td>
    </tr>
    </p>
</table>

</body>
</html>