<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" type="text/css" href="../css/address.css" />
</head>
<header>
    <img th:src="@{../../photos/dev1.png}" />
</header>

<body class="container">
<!--h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>-->

<form method="post" th:object="${skills}">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input type="text" class="form-control" th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>

    <input type="submit" value="Add" />
</form>

</body>
</html>