<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" type="text/css" href="../css/address.css" />
</head>
<header>
    <img th:src="@{../../photos/stlyouthjobslogo1.png}" />
</header>

<body class="container">
<div class="address">
<form method="post" style="max-width:600px;" th:object="${contactInfo}">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input type="text" class="form-control" th:field ="*{name}" />
        <span class="error" th:errors="*{name}"></span>
    </div>

    <div class="form-group">
        <label th:for="phoneNum">Phone Number</label>
        <input type="tel" class="form-control" th:field ="*{phoneNum}" />
        <span class="error" th:errors="*{phoneNum}"></span>
    </div>

    <div class="form-group">
        <label th:for="email">Email</label>
        <input type="email" class="form-control" th:field ="*{email}" />
        <span class="error" th:errors="*{email}"></span>
    </div>

    <input type="submit" value="Add Contact Info" />

</form>
</div>
</body>
</html>