<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <link rel="stylesheet" type="text/css" href="../css/jobmain.css" />
</head>
<header>
    <img th:src="@{../../photos/dev1.png}" />
</header>

    <body class="container">
    <h1 th:text="${title}">Default Title</h1>

    <p></p>

    <table class="table table-bordered">
        <tr>
            <th>Description</th>
        </tr>

        <tr th:each="statement : ${statements}">
            <td th:text="${statement.description}"></td>
        </tr>
        <tr>
            <th>Description</th>
        </tr>

        <tr th:each="skills : ${skills}">
            <td th:text="${skills.description}"></td>
        </tr>

    </table>
    </body>

</html>