<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head" />
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${title}"></h1>



<div class="main">

    <table class="table table-bordered">
        <tr>
            <th>Job Title</th>
            <th>Applicants</th>

        </tr>

        <tr th:each="apply : ${applys}" method="get" th:object="${apply}">
            <td><a th:href="'apply/job/' + ${apply.id}" th:text="view"></a></td>
            <td th:text="${apply.session}"></td>
            <td th:text="${apply.id}"></td>


        </tr>
    </table>

</div>
</body>
</html>