<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
</head>
<header>
    <img th:src="@{../../photos/dev1.png}" />
</header>

<body class="container">
<h1 th:text="${title}">Default Title</h1>



<div class="box">
<form method="post" th:object="${registerForm}">
    <div class="form-group">
        <label th:for="username">Username</label>
        <input class="form-control" th:field="*{username}" type="text" />
        <div class="error" th:errors="*{username}"></div>
    </div>
    <div class="form-group">
        <label th:for="password">Password</label>
        <input class="form-control" th:field="*{password}" type="password" />
        <div class="error" th:errors="*{password}"></div>
    </div>
    <div class="form-group">
        <label th:for="verifyPassword">Verify</label>
        <input class="form-control" th:field="*{verifyPassword}" type="password" />
        <div class="error" th:text="${verifyError}"></div>
    </div>

    <input class="btn btn-primary btn-xs" type="submit" value="Register" />
    <a class="btn btn-default btn-xs" href="/login">Login</a>


    <div class="invisible">
        <div class="form-group">
            <label th:for="access">Access</label>
            <input class="form-control" type="text"   name="access" value="1" th:errorclass="field-error"  />
        </div>
    </div>
</form>
</div>
</body>
</html>