<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <link rel="stylesheet" type="text/css" href="../css/address.css" />
</head>
<header>
    <img th:src="@{../../photos/stlyouthjobslogo1.png}" />
</header>

<body class="container">
<div class="address">
<form method="post" th:object="${experience}">
    <div class="form-group">
        <label th:for="jobTitle">Job Title</label>
        <input type="text" class="form-control" th:field ="*{jobTitle}" />
        <span class="error" th:errors="*{jobTitle}"></span>
    </div>

    <div class="form-group">
        <label th:for="company">Company Name</label>
        <input type="text" class="form-control" th:field ="*{company}" />
        <span class="error" th:errors="*{company}"></span>
    </div>

    <div class="form-group">
        <label th:for="startDate">Start Date</label>
        <input type="date" class="form-control" th:field ="*{startDate}" />
        <span class="error" th:errors="*{startDate}"></span>
    </div>

    <div class="form-group">
        <label th:for="endDate">End Date</label>
        <input type="date" class="form-control" th:field ="*{endDate}" />
        <span class="error" th:errors="*{endDate}"></span>
    </div>

    <div class="form-group">
        <label th:for="description">Job Description</label>
        <textarea type="text" class="area" th:field ="*{description}"></textarea>
        <span class="error" th:errors="*{description}"></span>
    </div>

    <input type="submit" value="Add Experience" />

</form>
</div>
</body>
</html>