<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head" />
<body class="container">
<h1 th:text="${title}"></h1>



<div class="main">

<table class="table table-bordered">
    <tr>
        <th></th>
        <th>Job Title</th>
        <th>Job Summary</th>
        <th>Location</th>
        <th>Pay Rate</th>
    </tr>

    <tr th:each="job : ${jobs}">
        <td><a th:href="'apply/job/' + ${job.id}" th:text="view all"></a></td>

        <td th:text="${job.jobTitle}"></td>
        <td th:text="${job.jobSummary}"></td>
        <td th:text="${job.location}"></td>
        <td th:text="${job.payRate}"></td>

    </tr>
</table>

</div>

</body>

</html>