#nav-wrap {
	margin-top:15px
}

#nav-wrap ul {
	list-style: none;
	position: relative;
	float: left;
	margin: 0;
	padding: 0
}

#nav-wrap ul a {
	display: block;
	color: #00004c;
	text-decoration: none;
	font-size: 1em;
	line-height: 32px;
	padding: 0 15px;
	font-family: Helvetica;
}

#nav-wrap ul li {
	position: relative;
	float: left;
	margin: 0;
	padding: 0
}

#nav-wrap ul li.current-menu {
	background: #ddd
}

#nav-wrap ul li:hover {
	background: #f6f6f6
}

#nav-wrap ul ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: #fff;
	padding: 0
}

#nav-wrap ul ul li {
	float: none;
	width: 200px
}

#nav-wrap ul ul a {
	line-height: 120%;
	padding: 10px 15px
}

#nav-wrap ul ul ul {
	top: 0;
	left: 100%
}

#nav-wrap ul li:hover > ul {
	display: block
}