body {
    background: aquamarine;
    font-family: sans-serif;
    margin: 0px;
}

img {
    height: 50px;
    width: auto;
}

a {
    text-decoration: none;
    color: #292f30;
}

a:active, a:hover, a:visited {
    text-decoration: underline;
    color: #000;
}

table {
  width: 100%;
  background-color: #ebfaf8;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #334a5c;;
  border-style: solid;
  color: #000000;
  font-size: 13px;
}

table a:link {
    color: #334a5c;
}

table td, table th {
  border-width: 2px;
  border-color: #334a5c;;
  border-style: solid;
  border-radius: 3px;
  padding: 5px;
}

table tr:hover td {
    background-color: #dcf7f4;
}

table thead {
  background-color: #334a5c;
  color: #ebfaf8;
  font-size: 14px;
}



/*
.button a:link, a:visited, a:hover {
    color: black;
}

.button {
	background-color: #435e73;
	border-radius:28px;
	border: 1px solid #18ab29;
	cursor: pointer;
	color: black;
	font-family: sans-serif;
	font-size:17px;
	padding:16px 19px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #2f6627;
	display: inline-block;
}

.button:hover {
	background-color: #334a5c;
	color: black;
}

.button:active {
    color: black;
	position: relative;
	top: 1px;
}*/

.button::-moz-focus-inner{
  border: 0;
  padding: 0;
}

.button, .button:visited {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 6px 20px;
  margin: 0;
  cursor: pointer;
  border: 1px solid #334a5c;
  overflow: visible;
  font: bold 13px arial, helvetica, sans-serif;
  text-decoration: none;
  white-space: nowrap;
  color: #334a5c;

  background-color: #dcf7f4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(255,255,255,0)));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background-image: -o-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background-image: linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));

  -webkit-transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -ms-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  background-clip: padding-box; /* Fix bleeding */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
  text-shadow: 0 1px 0 rgba(255,255,255, .9);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:hover{
  background-color: #ebfaf8;
  color: #334a5c;
}

.button:active{
  background: #334a5c;
  position: relative;
  top: 1px;
  text-shadow: none;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "logo logo-name user-nav" "content content content" "footer footer footer";
}

.user-nav, .logo, .logo-name {
    background-color: #2d9480;
}

.user-nav, .content, .footer {
    padding: 20px;
}

.logo {
    grid-area: logo;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.user-nav {
    grid-area: user-nav;
    text-align: right;
}

.content {
    grid-area: content;
    background-color: aquamarine;
}

.footer {
    grid-area: footer;
    background-color: yellow;
    text-align: center;
}