<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">My Cheeses</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<nav th:fragment="navigation">
    <br />
    <br />
</nav>

<div th:fragment="secondnav">
    <a href="/admin">admin portal</a> |
    <a href="/admin/register">register admin</a> |
    <a href="/admin/job">job</a> |
    <a href="/admin/education">education</a> |
    <a href="/admin/workexperience">work experience</a> |
    <a href="/admin/statement">statement</a> |
    <a href="/admin/skills">skills</a> |
    <a href="/admin/projectexperience">project experience</a> |
    <a href="/admin/users">users</a>
    <br />
    <br />
    <input type="text" placeholder="Search.." />
    <br />
    <br />
</div>


</body>
</html>