<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <link rel="stylesheet" type="text/css" href="../css/dashboard.css" />
</head>
<header>
    <img th:src="@{../../photos/dev1.png}" />
</header>

    <body class="container">
    <div class="page">
    <h1 th:text="${title}">Default Title</h1>
    <nav th:replace="fragments :: navigation"></nav>


<nav>
    <a class="btn btn-primary btn-xs" href="/job/add">Add New Job</a>
</nav>

    <p th:unless="${jobs} and ${jobs.size()}">No Jobs have been added</p>
        <div class="jobs">
            <table class="table table-bordered">
        <tr>
            <th></th>
            <th>Job Title</th>
            <th>Address</th>
            <th>Job Category</th>
            <th>Job Summary</th>
            <th>Location</th>
            <th>Schedule</th>
            <th>Position Type</th>
            <th>Number of Positions</th>
            <th>Dress Code</th>
            <th>Pay Rate</th>
            <th>Closing Date</th>
        </tr>

        <tr th:each="job : ${jobs}">
            <td><a th:href="'job/edit/' + ${job.session}" th:text="Edit"></a></td>
            <td th:text="${job.jobTitle}"></td>
            <td th:text="${job.address}"></td>
            <td th:text="${job.jobCategory}"></td>
            <td th:text="${job.jobSummary}"></td>
            <td th:text="${job.location}"></td>
            <td th:text="${job.schedule}"></td>
            <td th:text="${job.positionType}"></td>
            <td th:text="${job.numOfPositions}"></td>
            <td th:text="${job.dressCode}"></td>
            <td th:text="${job.payRate}"></td>
            <td th:text="${job.closingDate}"></td>
            <td><a th:href="'applicant/'" th:text="Applicants"></a></td>
        </tr>

    </table>
    </div>
    </div>
    </body>

</html>