<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <link rel="stylesheet" type="text/css" href="../css/dashboard.css" />
</head>





    <div class="applies">
        <table class="table table-bordered">
            <tr>
                <th>JobID</th>
                <th>User</th>
            </tr>

            <tr th:each="apply : ${applies}">
                <td th:text="${apply.jobId}"></td>
                <td th:text="${apply.session}"></td>
            </tr>

        </table>
    </div>


</html>