<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/apply.css}"/>
</head>
<header>
    <img th:src="@{../../photos/dev1.png}" />
</header>

    <body class="container">
    <div class="page">
    <h1 th:text="${title}">Default Title</h1>

        <nav>
            <a href="/job">Return to Jobs</a>
        </nav>


    <div class="applies">
        <table class="table table-bordered">
            <tr>
                <th>Job</th>
                <th>Applicant</th>
            </tr>

            <tr th:each="apply : ${applies}">
                <td th:text="${apply.jobId}"></td>
                <td><a th:href="'/job/final/' + ${apply.session}" th:text="Applicant"></a></td>
            </tr>


        </table>
    </div>
</div>
</body>

</html>