<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/apply.css}"/>
</head>
<header>
    <img th:src="@{../../photos/dev1.png}" />
</header>

    <body class="container">
    <div class="page">
    <h1 th:text="${title}">Default Title</h1>




    <div class="applies">
        <table class="table table-bordered">
            <tr>
                <th>Job</th>
            </tr>

            <tr th:each="job : ${jobs}">
                <td th:text="${job.jobTitle}"></td>
            </tr>
            <tr>
                <th>Applicant</th>
            </tr>
            <tr th:each="job : ${jobs}">
                <td th:text="${job.jobTitle}"></td>
            </tr>

        </table>
    </div>
</div>
</body>

</html>