<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" th:object="${statement}">
    <div class="form-group">
        <label th:for="statement">Statement</label>
        <input class="form-control" th:field="*{statement}" />
        <span th:errors="*{statement}" class="error"></span>
    </div>

    <input type="submit" value="Add Statement" />
</form>

</body>
</html>