<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
</head>
<header>
    <img th:src="@{../../photos/dev1.png}" />
</header>

<body class="container">
<h1 th:text="${title}">Default Title</h1>


<div class="main">
<form method="post" th:object="${statement}">
    <div class="form-group">
        <label th:for="description">Statement</label>
        <textarea class="form-control" th:field="*{description}" />
        <span th:errors="*{description}" class="error"></span>
    </div>

    <input type="submit" value="Add Statement" />
</form>
</div>
</body>
</html>