<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav>
    <a class="btn btn-primary btn-xs" href="/job/add">Add New Job</a>
</nav>


<form method="post" th:object="${statement}">

    <div class="form-group">
        <label th:for="description">Statement</label>
        <input class="form-control" th:field="*{description}" />
        <span th:errors="*{description}" class="error"></span>
    </div>

    <input type="submit" value="Edit Statement" />
</form>


</body>

</html>