<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" type="text/css" href="../css/address.css" />
</head>
<header>
    <img th:src="@{../../photos/dev1.png}" />
</header>

<body class="container">

<div class="address">
<form method="post" th:object="${communityInvolvement}">
    <div class="form-group">
        <label th:for="title">Title</label>
        <input type="text" class="form-control" th:field="*{title}" />
        <span th:errors="*{title}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="startDate">Start Date</label>
        <!--input type="date" class="form-control" th:field="*{startDate}" /-->
        <input type="date" class="form-control" th:field="*{startDate}" />
        <span th:errors="*{startDate}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="endDate">End Date</label>
        <!--input type="date" class="form-control" th:field="*{endDate}" /-->
        <input type="date" class="form-control" th:field="*{endDate}" />
        <span th:errors="*{endDate}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="description">Description of Volunteer Work</label>
        <input type="text" class="area" th:field="*{description}" />
        <span th:errors="*{description}" class="error"></span>
    </div>

    <input type="submit" value="Add Community Involvement" />
</form>
</div>
</body>
</html>