<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" th:object="${communityInvolvement}">
    <div class="form-group">
        <label th:for="title">Title</label>
        <input class="form-control" th:field="*{title}" />
        <span th:errors="*{title}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="startDate">Start Date</label>
        <!--input type="date" class="form-control" th:field="*{startDate}" /-->
        <input class="form-control" th:field="*{startDate}" />
        <span th:errors="*{startDate}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="endDate">End Date</label>
        <!--input type="date" class="form-control" th:field="*{endDate}" /-->
        <input class="form-control" th:field="*{endDate}" />
        <span th:errors="*{endDate}" class="error"></span>
    </div>

    <input type="submit" value="Add Community Involvement" />
</form>

</body>
</html>